@model IEnumerable<app_web_backend.Models.Genero>

@{
    ViewData["Title"] = "Index";
}

<h1 class="text-light">Lista de Gêneros</h1>

<table class="table">
    <thead>
        <tr>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th class="text-light">
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                <a class="text-light" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a class="text-light" asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a class="text-info" asp-action="Create">Criar novo gênero</a>
</p>
